body {
    background-image:url('/images/hd_bg.png');
    background-repeat:repeat-x;
    padding-top: 50px;
}

#masthead {
    position: relative;
    top: -45px;
}

#sidebar {
    position: absolute;
    right: 0;
    top: 0;
}

h1 {
    font-size: 2em;
}

#doc4 {
    position: relative;
}

#hd {
    padding: 0 0 20px 0;
    border-bottom: 3px solid #ccffcc;
}

#bd {
    margin: 20px 0 0 0;
    font-size: 1.2em;
}

#ft {
    text-align: center;
    margin: 30px 10px 10px 10px;
}

.content img {
    width: 800px;
}

p.big {
    font-size: 2em;
}

a.big {
    background-image:url('/images/button_bg.jpg');
    width: 260px;
    height: 85px;
    font-size: 2em;
    text-align: center;
    text-decoration: none;    
    float: left;
    margin: 10px;
    padding: 80px 0 0 0;
    overflow: hidden;
}
a.big span {
    color: black;
    background: white;
    padding: 5px 10px 5px 10px;
}