body {
    background-image:url('/images/hd_bg.png');
    background-repeat:repeat-x;
    padding-top: 50px;
}

#masthead {
    position: relative;
    top: -45px;
}

#sidebar {
    position: absolute;
    right: 0;
    top: 0;
}

h1 {
    font-size: 2em;
}

#doc4 {
    position: relative;
}

#hd {
    padding: 0 0 20px 0;
    border-bottom: 3px solid #ccffcc;
}

#bd {
    margin: 20px 0 0 0;
    font-size: 1.2em;
}

#ft {
    text-align: center;
    margin: 30px 10px 10px 10px;
}

.content img {
    width: 800px;
}

.content.invite {
	font-size: 22px;
	margin-top: 120px;
	text-align: center;
}
.content.invite p {
	margin-bottom: 15px;
}
.content.invite input {
	padding: 10px 15px;
	font-weight: bold;
	letter-spacing: 4px;
}
.button {
	background: #333;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: none;
	color: #fff;
	font-weight: normal;
	padding: 10px;
	cursor: pointer;
	letter-spacing: normal;
}
.button:hover {
	background: #555;
}

#places {
	width: 90%;
}
#places li {
	font-size: 12px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
#places li a {
	color: #0072bc;
	font-weight: bold;
}

p.big {
    font-size: 2em;
}

a.big {
    background-image:url('/images/button_bg.jpg');
    width: 260px;
    height: 85px;
    font-size: 2em;
    text-align: center;
    text-decoration: none;    
    float: left;
    margin: 10px;
    padding: 80px 0 0 0;
    overflow: hidden;
}
a.big span {
    color: black;
    background: white;
    padding: 5px 10px 5px 10px;
}